#contBackgroundPrincipal
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 98vw;
    height: 100vh;

    grid-column: 1/2;
    grid-row: 1/2;
}

@keyframes rotating {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes rotating45 {
    from{
        transform: rotate(45deg);
    }
    to{
        transform: rotate(405deg);
    }
}
@keyframes rotating90 {
    from{
        transform: rotate(90deg);
    }
    to{
        transform: rotate(450deg);
    }
}
@keyframes rotating135 {
    from{
        transform: rotate(135deg);
    }
    to{
        transform: rotate(495deg);
    }
}

#test0{
    animation: rotating 14s linear infinite;
}

#test45{
    animation: rotating45 14s linear infinite;
}
#test90{
    animation: rotating90 14s linear infinite;
}
#test135{
    animation: rotating135 14s linear infinite;
}

#fast0{
    animation: rotating 4s linear infinite;
}

#fast45{
    animation: rotating45 4s linear infinite;
}
#fast90{
    animation: rotating90 4s linear infinite;
}
#fast135{
    animation: rotating135 4s linear infinite;
}

.HourLineCenter{
    z-index: 0;
    position:absolute;
    margin: auto;
    height: 0.3vw;
}

.HourLine{
    
    z-index: 0;
    position:absolute;
    margin: auto;
    height: 0.3vw;
    background: linear-gradient(90deg, rgba(255,255,255,1) 10%, rgba(55,55,146,0) 10%, rgba(9,9,121,0) 90%, rgba(255,255,255,1) 90%);
}

.MinuteLine{
    z-index: 0;
    position:absolute;
    margin: auto;
    height: 0.1vw;
    background: linear-gradient(90deg, rgba(129,129,129,1) 2%, rgba(9,9,121,0) 2%, rgba(9,19,127,0) 98%, rgba(129,129,129,1) 98%);
}
