#projectsContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 76vw;
    height: fit-content;
    margin: auto;

    font-size: 2vw;

    background-color: black;
    z-index: 1;
}
#projectTitleCont{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
    background-color: black;

    z-index: 1;
}
#projectsTitle{
    text-align: center;
    font-size: 3em;
    margin-top: 5vh;
    margin-bottom: 10vh;
    color: white;
    background-color: black;
}