#projectsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 76vw;
    margin: auto;

    font-size: 2vw;
}
#projectsTitle{
    text-align: center;
    font-size: 1.6em;
    margin-top: 5vh;
    margin-bottom: 10vh;
    color: white;
}